# DATA wrangling and cleaning for Midwest and South data

In [1]:
# Import the necessary modules and libraries.

import pandas as pd
import numpy as np

In [2]:
# Read the raw CSV for both south and midwest data and storing in variables:
# unclean_south and unclean_midwest. Skipped the first row because it contained
# unnecessary data.

unclean_south = pd.read_csv('Raw_Data/SOUTH.csv', skiprows = [0])
unclean_midwest = pd.read_csv('Raw_Data/MIDWEST.csv', skiprows =[0])

## 1. Exploring and Cleaning South Data

In [3]:
# Look at head and explore the info of the raw data

print(unclean_south.head())
print(unclean_south.info())

                                          Open-Ended Response  A lot  Some  \
3190851410                                         The south.    NaN  Some
3190823139                                                Usa    NaN   NaN
3190763877                                            midwest    NaN   NaN
3190684926                                                usa    NaN   NaN
3190455016  The Last Bastion of Western Civilization and F...  A lot   NaN

            Not much  Not at all Arkansas  Louisiana  Oklahoma  Texas  \
3190851410       NaN         NaN      NaN  Louisiana       NaN    NaN
3190823139       NaN  Not at all      NaN        NaN       NaN  Texas
3190763877  Not much         NaN      NaN  Louisiana       NaN    NaN
3190684926       NaN  Not at all      NaN  Louisiana       NaN    NaN
3190455016       NaN         NaN      NaN  Louisiana  Oklahoma  Texas

            Alabama  ... Graduate degree New England Middle Atlantic  \
3190851410  Alabama  ...             NaN         NaN             NaN
3190823139      NaN  ...             NaN         NaN             NaN
3190763877  Alabama  ...             NaN         NaN             NaN
3190684926      NaN  ...             NaN         NaN             NaN
3190455016  Alabama  ...             NaN         NaN             NaN

           East North Central West North Central  South Atlantic  \
3190851410                NaN                NaN  South Atlantic
3190823139                NaN                NaN             NaN
3190763877                NaN                NaN             NaN
3190684926                NaN                NaN             NaN
3190455016                NaN                NaN             NaN

           East South Central  West South Central Mountain Pacific
3190851410                NaN                 NaN      NaN     NaN
3190823139                NaN                 NaN      NaN     NaN
3190763877                NaN  West South Central      NaN     NaN
3190684926                NaN  West South Central      NaN     NaN
3190455016                NaN  West South Central      NaN     NaN

[5 rows x 57 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2528 entries, 3190851410 to 3184072994
Data columns (total 57 columns):
Open-Ended Response             2528 non-null object
A lot                           579 non-null object
Some                            556 non-null object
Not much                        457 non-null object
Not at all                      936 non-null object
Arkansas                        1389 non-null object
Louisiana                       2115 non-null object
Oklahoma                        477 non-null object
Texas                           1426 non-null object
Alabama                         2247 non-null object
Kentucky                        1319 non-null object
Mississippi                     2097 non-null object
Tennessee                       1762 non-null object
Florida                         1793 non-null object
Georgia                         2276 non-null object
Maryland                        162 non-null object
North Carolina                  1564 non-null object
South Carolina                  2043 non-null object
Virginia                        1216 non-null object
West Virginia                   710 non-null object
Delaware                        41 non-null object
Arizona                         244 non-null object
New Mexico                      295 non-null object
Colorado                        28 non-null object
Kansas                          155 non-null object
Missouri                        470 non-null object
Illinois                        21 non-null object
Indiana                         39 non-null object
Ohio                            24 non-null object
Pennsylvania                    11 non-null object
Open-Ended Response.1           2332 non-null object
Male                            1088 non-null object
Female                          1221 non-null object
< 18                            0 non-null float64
18-29                           486 non-null object
30-44                           570 non-null object
45-60                           646 non-null object
> 60                            607 non-null object
$0 - $24,999                    250 non-null object
$25,000 - $49,999               407 non-null object
$50,000 - $99,999               700 non-null object
$100,000 - $149,999             302 non-null object
$150,000+                       614 non-null object
Less than high school degree    21 non-null object
High school degree              211 non-null object
Some college                    720 non-null object
Associate or bachelor degree    717 non-null object
Graduate degree                 610 non-null object
New England                     78 non-null object
Middle Atlantic                 141 non-null object
East North Central              183 non-null object
West North Central              101 non-null object
South Atlantic                  861 non-null object
East South Central              190 non-null object
West South Central              466 non-null object
Mountain                        102 non-null object
Pacific                         177 non-null object
dtypes: float64(1), object(56)
memory usage: 1.1+ MB
None

In [4]:
# Get column names for reference

unclean_south.columns

Index(['Open-Ended Response', 'A lot', 'Some', 'Not much', 'Not at all',
       'Arkansas', 'Louisiana', 'Oklahoma', 'Texas', 'Alabama', 'Kentucky',
       'Mississippi', 'Tennessee', 'Florida', 'Georgia', 'Maryland',
       'North Carolina', 'South Carolina', 'Virginia', 'West Virginia',
       'Delaware', 'Arizona', 'New Mexico', 'Colorado', 'Kansas', 'Missouri',
       'Illinois', 'Indiana', 'Ohio', 'Pennsylvania', 'Open-Ended Response.1',
       'Male', 'Female', '< 18', '18-29', '30-44', '45-60', '> 60',
       '$0 - $24,999', '$25,000 - $49,999', '$50,000 - $99,999',
       '$100,000 - $149,999', '$150,000+', 'Less than high school degree',
       'High school degree', 'Some college', 'Associate or bachelor degree',
       'Graduate degree', 'New England', 'Middle Atlantic',
       'East North Central', 'West North Central', 'South Atlantic',
       'East South Central', 'West South Central', 'Mountain', 'Pacific'],
      dtype='object')

In [5]:
# Create a clean dataframe to store all cleaned data: clean_south

clean_south = pd.DataFrame(unclean_south['Open-Ended Response']).rename(
                columns = {'Open-Ended Response': 'Written in Response'}
                )

In [6]:
# Condense "Degree of Identifying" responses to a single column, moving to clean dataframe

clean_south['Degree of ident.'] = unclean_south.iloc[:,1:5].ffill(1).iloc[:,3]


# Check result

clean_south.head()

                                          Written in Response Degree of ident.
3190851410                                         The south.             Some
3190823139                                                Usa       Not at all
3190763877                                            midwest         Not much
3190684926                                                usa       Not at all
3190455016  The Last Bastion of Western Civilization and F...            A lot

In [24]:
# Combine only the states that respondants said they thought of as being in the south

southern_resp = unclean_south.iloc[:,5:30]

clean_south['Southern?'] = southern_resp.apply(lambda row: [x for x in row.dropna()], axis=1)

# Check result

clean_south.head()

pandas.core.series.Series

In [8]:
# Add zipcode column to clean data

clean_south['Zipcode'] = unclean_south['Open-Ended Response.1']

# Check result
clean_south.head()

,Written in Response,Degree of ident.,Southern?,Zipcode
3190851410,The south.,Some,"[Louisiana, Alabama, Mississippi, Tennessee, F...",32440
3190823139,Usa,Not at all,"[Texas, South Carolina]",NaN
3190763877,midwest,Not much,"[Louisiana, Alabama, Kentucky, Mississippi, Te...",74014
3190684926,usa,Not at all,[Louisiana],78065
3190455016,The Last Bastion of Western Civilization and F...,A lot,"[Louisiana, Oklahoma, Texas, Alabama, Kentucky...",78758

In [9]:
# Condense gender, age, income, education, and census region columns into single,
# individual columns for each reponder index.

clean_south['Gender'] = unclean_south.loc[:,'Male':'Female'].ffill(1).loc[:,'Female']

clean_south['Age Range'] = unclean_south.loc[:, '< 18':'> 60'].ffill(1).loc[:, '> 60']

clean_south['Income'] = unclean_south.loc[:, '$0 - $24,999':'$150,000+'].ffill(1).loc[:, '$150,000+']

clean_south['Education'] = unclean_south.loc[
                            :, 'Less than high school degree':'Graduate degree'
                            ].ffill(1).loc[:, 'Graduate degree']

clean_south['Census Region'] = unclean_south.loc[:,'New England':'Pacific'].ffill(1).loc[:,'Pacific']

In [10]:
# Check result

print(clean_south.head())
print(clean_south.info())

                                          Written in Response  \
3190851410                                         The south.
3190823139                                                Usa
3190763877                                            midwest
3190684926                                                usa
3190455016  The Last Bastion of Western Civilization and F...

           Degree of ident.  \
3190851410             Some
3190823139       Not at all
3190763877         Not much
3190684926       Not at all
3190455016            A lot

                                                    Southern? Zipcode Gender  \
3190851410  [Louisiana, Alabama, Mississippi, Tennessee, F...   32440   Male
3190823139                            [Texas, South Carolina]     NaN    NaN
3190763877  [Louisiana, Alabama, Kentucky, Mississippi, Te...   74014   Male
3190684926                                        [Louisiana]   78065   Male
3190455016  [Louisiana, Oklahoma, Texas, Alabama, Kentucky...   78758   Male

           Age Range               Income                     Education  \
3190851410     30-44  $100,000 - $149,999                  Some college
3190823139       NaN                  NaN                           NaN
3190763877     30-44            $150,000+                  Some college
3190684926     30-44         $0 - $24,999            High school degree
3190455016     30-44            $150,000+  Associate or bachelor degree

                 Census Region
3190851410      South Atlantic
3190823139                 NaN
3190763877  West South Central
3190684926  West South Central
3190455016  West South Central
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2528 entries, 3190851410 to 3184072994
Data columns (total 9 columns):
Written in Response    2528 non-null object
Degree of ident.       2528 non-null object
Southern?              2528 non-null object
Zipcode                2332 non-null object
Gender                 2309 non-null object
Age Range              2309 non-null object
Income                 2273 non-null object
Education              2279 non-null object
Census Region          2299 non-null object
dtypes: object(9)
memory usage: 197.5+ KB
None

## 2. Exploring and Cleaning Midwest Data

In [11]:
# Go through same process of cleaning south data, but for midwest

clean_midwest = pd.DataFrame(unclean_midwest['Open-Ended Response']).rename(
                     columns ={'Open-Ended Response': 'Written in Response'}
                     )

In [12]:
# Get column names to call later

unclean_midwest.columns

Index(['Open-Ended Response', 'A lot', 'Some', 'Not much', 'Not at all',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Michigan', 'Minnesota',
       'Missouri', 'Nebraska', 'North Dakota', 'Ohio', 'South Dakota',
       'Wisconsin', 'Arkansas', 'Colorado', 'Kentucky', 'Oklahoma',
       'Pennsylvania', 'West Virginia', 'Montana', 'Wyoming',
       'Open-Ended Response.1', 'Male', 'Female', '< 18', '18-29', '30-44',
       '45-60', '> 60', '$0 - $24,999', '$25,000 - $49,999',
       '$50,000 - $99,999', '$100,000 - $149,999', '$150,000+',
       'Less than high school degree', 'High school degree', 'Some college',
       'Associate or bachelor degree', 'Graduate degree', 'New England',
       'Middle Atlantic', 'East North Central', 'West North Central',
       'South Atlantic', 'East South Central', 'West South Central',
       'Mountain', 'Pacific'],
      dtype='object')

In [13]:
# Obtain "Degree of identifying" for midwest data

clean_midwest['Degree of ident.'] = unclean_midwest.loc[:,'A lot':'Not at all'].ffill(1).loc[:,'Not at all']

In [14]:
# Next obtain midwest selection of states from respondant choices

midwest_resp = unclean_midwest.loc[:,'Illinois':'Wyoming']

clean_midwest['Midwestern?'] = midwest_resp.apply(lambda row: [x for x in row.dropna()], axis=1)

In [15]:
# Finally collect rest of midwestern data in same manner as southern

clean_midwest['Zipcode'] = unclean_midwest['Open-Ended Response.1']

clean_midwest['Gender'] = unclean_midwest.loc[:,'Male':'Female'].ffill(1).loc[:,'Female']

clean_midwest['Age Range'] = unclean_midwest.loc[:, '< 18':'> 60'].ffill(1).loc[:, '> 60']

clean_midwest['Income'] = unclean_midwest.loc[:, '$0 - $24,999':'$150,000+'].ffill(1).loc[:, '$150,000+']

clean_midwest['Education'] = unclean_midwest.loc[
                             :, 'Less than high school degree':'Graduate degree'
                             ].ffill(1).loc[:, 'Graduate degree']

clean_midwest['Census Region'] = unclean_midwest.loc[:,'New England':'Pacific'].ffill(1).loc[:,'Pacific']

In [16]:
# Check result

print(clean_midwest.info())
print(clean_midwest.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2778 entries, 3126807211 to 3120591286
Data columns (total 9 columns):
Written in Response    2777 non-null object
Degree of ident.       2778 non-null object
Midwestern?            2778 non-null object
Zipcode                2524 non-null object
Gender                 2503 non-null object
Age Range              2503 non-null object
Income                 2435 non-null object
Education              2473 non-null object
Census Region          2494 non-null object
dtypes: object(9)
memory usage: 217.0+ KB
None
           Written in Response Degree of ident.  \
3126807211            Southern         Not much
3126802202             Midwest            A lot
3126791039             Midwest         Not much
3126780936            Mid-west            A lot
3126779836             Midwest            A lot

                                                  Midwestern? Zipcode Gender  \
3126807211                                         [Colorado]   74070   Male
3126802202  [Illinois, Indiana, Iowa, Kansas, Michigan, Mi...     NaN    NaN
3126791039  [Illinois, Iowa, Michigan, Minnesota, Missouri...   44106   Male
3126780936  [Illinois, Indiana, Michigan, Minnesota, Ohio,...   48185   Male
3126779836                 [Iowa, Kansas, Missouri, Colorado]     NaN    NaN

           Age Range             Income                     Education  \
3126807211     18-29  $50,000 - $99,999            High school degree
3126802202       NaN                NaN                           NaN
3126791039     18-29       $0 - $24,999  Associate or bachelor degree
3126780936     18-29  $25,000 - $49,999  Associate or bachelor degree
3126779836       NaN                NaN                           NaN

                 Census Region
3126807211  West South Central
3126802202                 NaN
3126791039  East North Central
3126780936  East North Central
3126779836                 NaN

## 3. Remove Remaining NaN Values From South and Midwest

In [17]:
# Finally, drop rows with NaN values from income and education so final data can be compared
# with full answers from each respondant.

clean_midwest = clean_midwest.dropna(subset=['Income', 'Education'], how = 'any')

clean_south = clean_south.dropna(subset=['Income', 'Education'], how = 'any')

In [18]:
# Check results
print(clean_midwest.info())
print(clean_south.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2430 entries, 3126807211 to 3120647870
Data columns (total 9 columns):
Written in Response    2429 non-null object
Degree of ident.       2430 non-null object
Midwestern?            2430 non-null object
Zipcode                2430 non-null object
Gender                 2430 non-null object
Age Range              2430 non-null object
Income                 2430 non-null object
Education              2430 non-null object
Census Region          2421 non-null object
dtypes: object(9)
memory usage: 189.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2261 entries, 3190851410 to 3184114835
Data columns (total 9 columns):
Written in Response    2261 non-null object
Degree of ident.       2261 non-null object
Southern?              2261 non-null object
Zipcode                2261 non-null object
Gender                 2261 non-null object
Age Range              2261 non-null object
Income                 2261 non-null object
Education              2261 non-null object
Census Region          2251 non-null object
dtypes: object(9)
memory usage: 176.6+ KB
None

## 4. Read Household income from 2014

In [19]:
# Put the raw household income from the xls file into a dataframe

raw_house_inc = pd.read_excel('Raw_Data/Household_income_1984_2018.xls', skiprows = [0,1,2,3, 5])

In [20]:
# Explore data to understand how rows and columns are organized

print(raw_house_inc.info())

# Check to see why there are over a hundred values for states when there should be 50

print(raw_house_inc.State.values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 75 columns):
State            108 non-null object
2018             106 non-null object
Unnamed: 2       105 non-null object
2017 (40)        106 non-null object
Unnamed: 4       105 non-null object
2017             106 non-null object
Unnamed: 6       105 non-null object
2016             106 non-null object
Unnamed: 8       105 non-null object
2015             106 non-null object
Unnamed: 10      105 non-null object
2014             106 non-null object
Unnamed: 12      105 non-null object
2013 (39)        106 non-null object
Unnamed: 14      105 non-null object
2013 (38)        106 non-null object
Unnamed: 16      105 non-null object
2012             106 non-null object
Unnamed: 18      105 non-null object
2011             106 non-null object
Unnamed: 20      105 non-null object
2010 (37)        106 non-null object
Unnamed: 22      105 non-null object
2009 (36)        106 non-null object
Unnamed: 24      105 non-null object
2008             106 non-null object
Unnamed: 26      105 non-null object
2007             106 non-null object
Unnamed: 28      105 non-null object
2006             106 non-null object
Unnamed: 30      105 non-null object
2005             106 non-null object
Unnamed: 32      105 non-null object
2004(revised)    106 non-null object
Unnamed: 34      105 non-null object
2003             106 non-null object
Unnamed: 36      105 non-null object
2002             106 non-null object
Unnamed: 38      105 non-null object
2001             106 non-null object
Unnamed: 40      105 non-null object
2000 (30)        106 non-null object
Unnamed: 42      105 non-null object
1999 (29)        106 non-null object
Unnamed: 44      105 non-null object
1998             106 non-null object
Unnamed: 46      105 non-null object
1997             106 non-null object
Unnamed: 48      105 non-null object
1996             106 non-null object
Unnamed: 50      105 non-null object
1995 (25)        106 non-null object
Unnamed: 52      105 non-null object
1994 (24)        106 non-null object
Unnamed: 54      105 non-null object
1993 (23)        106 non-null object
Unnamed: 56      105 non-null object
1992 (22)        106 non-null object
Unnamed: 58      105 non-null object
1991             106 non-null object
Unnamed: 60      105 non-null object
1990             106 non-null object
Unnamed: 62      105 non-null object
1989             106 non-null object
Unnamed: 64      105 non-null object
1988             106 non-null object
Unnamed: 66      105 non-null object
1987 (21)        106 non-null object
Unnamed: 68      105 non-null object
1986             106 non-null object
Unnamed: 70      105 non-null object
1985 (20)        106 non-null object
Unnamed: 72      105 non-null object
1984 (19)        106 non-null object
Unnamed: 74      105 non-null object
dtypes: object(75)
memory usage: 63.9+ KB
None
['United States' 'Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'D.C.' 'Florida' 'Georgia' 'Hawaii'
 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana'
 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi'
 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey'
 'New Mexico' 'New York' 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma'
 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina' 'South Dakota'
 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia' 'Washington'
 'West Virginia' 'Wisconsin' 'Wyoming' '2018 DOLLARS' 'State' nan
 'United States' 'Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'D.C.' 'Florida' 'Georgia' 'Hawaii'
 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana'
 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi'
 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey'
 'New Mexico' 'New York' 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma'
 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina' 'South Dakota'
 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia' 'Washington'
 'West Virginia' 'Wisconsin' 'Wyoming'
 'Source: U.S. Bureau of the Census, Current Population Survey, Annual Social and Economic Supplements. For information on confidentiality protection, sampling error, nonsampling error, and definitions, see <www2.census.gov/programs-surveys/cps/techdocs/cpsmar19.pdf>.'
 'Footnotes are available at <www.census.gov/topics/income-poverty/income/guidance/cps-historic-footnotes.html>.']

In [21]:
# Extract the top half of the data for just the first set of states, then issolate
# information for the year 2014.

clean_house_inc = raw_house_inc.set_index('State').iloc[:52, 10:12].rename(
                        columns = {'Unnamed: 12' : 'Standard error'}
                        )

# Check result

clean_house_inc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, United States to Wyoming
Data columns (total 2 columns):
2014              52 non-null object
Standard error    52 non-null object
dtypes: object(2)
memory usage: 1.2+ KB

## 5. Export cleaned Dataframes to Local CSVs

In [22]:
clean_midwest.to_csv(r'C:\Jupyter_Notebooks\Capstone 1 project\Clean_Data\clean_midwest.csv')
clean_south.to_csv(r'C:\Jupyter_Notebooks\Capstone 1 project\Clean_Data\clean_south.csv')
clean_house_inc.to_csv(r'C:\Jupyter_Notebooks\Capstone 1 project\Clean_Data\clean_house_inc.csv')